<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dictionary</title>
  </head>
  <body>
    <div class="h-screen w-screen">
      <p class="my-10 text-center font-mono text-3xl font-bold">Dictionary</p>
      <div class="mx-auto w-3/4 md:w-2/4 bg-gray-200 p-4 overflow-hidden">
        <form action="" method="POST" id="postform">
            {% csrf_token %}
            <div class="relative rounded-lg overflow-hidden h-auto w-full">
                <input
                type="text"
                class="h-10 w-full rounded-lg p-3 outline-none font-mono text-sm"
                id="word"
                />
                <button
                type="submit"
                class="absolute right-0 top-0 h-full px-2 flex justify-center items-center"
                >
                <span class="material-symbols-outlined"> search </span>
                </button>
            </div>
        </form>
        <div class="my-4">
          {% for i,j in data.items %}
            <h1 class="font-bold">{{i}}:</h1>
            <ol class="pl-6 text-sm list-decimal">
                {% for meaning in j %}
                    <li class="">{{meaning}}</li>
                {% endfor %}
            </ol>
          {% endfor %}  
        </div>
      </div>
    </div>
  </body>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
  <script >

    function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');

    $('#postform').submit(function(e){
        console.log("hanba");
        e.preventDefault();
        $.ajax({
            type:'POST',
            url:'word',
            data:{
                 'word':$('#word').val(),
                 csrfmiddlewaretoken: csrftoken,
            },
            
            success: function(res){
            for (const key in res){
                if(key.hasOwnProperty(key)){
                    console.log(key)
                }
            }
            console.log(res)
            }
        });
    })
  </script>
</html>
