<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dictionary</title>
  </head>
  <body>

    <div class="h-screen w-screen">
      <p class="my-10 text-center font-mono text-3xl font-bold">Dictionary</p>
      <div class="mx-auto w-3/4 md:w-2/4 bg-gray-200 p-4 overflow-hidden">
        <form action="">
          <div class="relative rounded-lg overflow-hidden h-auto w-full">
            <input
              type="text"
              class="h-10 w-full rounded-lg p-3 outline-none font-mono text-sm"
            />
            <button
              type="submit"
              class="absolute right-0 top-0 h-full px-2 flex justify-center items-center"
            >
              <span class="material-symbols-outlined"> search </span>
            </button>
          </div>
        </form>
        <div class="">
            
        </div>
      </div>
    </div>
  </body>
</html>
